.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
}



.carousel-track {
  display: flex;
  transition: transform 1.5s ease-in-out; 
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: scale(1); 
  transition: transform 1.5s ease-in-out; 
}

.carousel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 65%); 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-content-wrapper {
  width: 60%;
  max-width: 1200px;
  text-align: center;
}

.carousel-title {
  font-size: 1.2rem;
  color: #4fd1c5;
  margin-bottom: 10px;
}

.carousel-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.carousel-description {
  font-size: 1.2rem;
  color: #f0f0f0;
  margin-bottom: 30px;
}

.carousel-button-action {
  background-color: #0a1628;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.carousel-button-action:hover {
  background-color: #1a2a42;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0a1628;
  color: #fff;
  border: none;
  cursor: pointer;
  padding:10px;
  transition: 0.5s;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: #4fd1c5;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .carousel-content h2 {
    font-size: 20px;
  }

  .carousel-content p {
    font-size: 1rem;
  }

  .carousel-content-wrapper {
width: 90%;
        position: relative;
        top: 18px;  }
}


