
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Doppio+One&family=Hedvig+Letters+Sans&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&family=PT+Serif+Caption:ital@0;1&family=REM:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&family=Red+Rose:wght@300..700&family=Revalia&family=Rubik:ital,wght@0,300..900;1,300..900&family=Varela+Round&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-for-nav{
    /* background-color: red; */
    font-family: 'Inter', sans-serif !important;
}

.font-size-for-nav{
    font-size: 18px !important;
}

.product-list{
    width: 80px;
}

@media screen and (max-width:450px) {
    .logo-nav{
        padding: 10px !important;
    }
}